@model IEnumerable<SportPro.Web.Models.Domains.Poslovnice>

@{
    ViewData["Title"] = "Poslovnice";

    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
    int currentPage = Convert.ToInt32(ViewBag.PageNumber);
}

@if (User.IsInRole("Uposlenik"))
{
    <p>
        <a asp-controller="Poslovnice" asp-action="Add">Dodaj novu poslovnicu</a>
    </p>
    @if (Model.Count() == 0)
    {
        <h2 align="center">Nema podataka o poslovnicama!</h2>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naziv
                    </th>
                    <th>
                        Adresa
                    </th>
                    <th>
                        Grad
                    </th>
                    <th>
                        Država
                    </th>
                    <th>
                        Telefon
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Početak radnog vremena
                    </th>
                    <th>
                        Kraj radnog vremena
                    </th>
                    <th>
                        Datum otvaranja
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adresa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Drzava)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RadnoVrijemeOd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RadnoVrijemeDo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumOtvaranja)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IDPoslovnica">Uredi</a> |
                            <a asp-action="Delete" asp-route-id="@item.IDPoslovnica">Izbriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(prevPage < 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous"
                       asp-controller="Poslovnice"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Poslovnice" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize">@i</a>
                    </li>
                }

                <li class="page-item @(nextPage > ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" aria-label="Next"
                       asp-controller="Poslovnice"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}