@model IEnumerable<SportPro.Web.Models.Domains.Dobavljaci>

@{
    ViewData["Title"] = "Dobavljači";

    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
    int currentPage = Convert.ToInt32(ViewBag.PageNumber);

}


@if (User.IsInRole("Uposlenik"))
{
    <p>
        <a asp-controller="Dobavljaci" asp-action="Add">Create New</a>
    </p>

    <form method="get" asp-controller="Dobavljaci" asp-action="Index">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control" name="naziv" value="@ViewBag.Naziv" placeholder="Naziv" />
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="grad" value="@ViewBag.Grad" placeholder="Grad" />
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="aktivnaSuradnja" asp-items="@ViewBag.AktivnaSuradnjaList"></select>
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button type="submit" class="btn btn-warning">Pretraži</button>
                </div>
            </div>
        </div>
    </form>

    @if (Model.Count() == 0)
    {
        <h2 align="center">Nema podataka o dobavljačima!</h2>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naziv
                        <span>
                            <span>
                                <a class="btn btn-light" asp-controller="Dobavljaci" asp-action="Index" asp-route-sortBy="Naziv" asp-route-sortDirection="Asc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-grad="@ViewBag.Grad" asp-route-aktivnaSuradnja="@ViewBag.AktivnaSuradnja">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light" asp-controller="Dobavljaci" asp-action="Index" asp-route-sortBy="Naziv" asp-route-sortDirection="Desc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-grad="@ViewBag.Grad" asp-route-aktivnaSuradnja="@ViewBag.AktivnaSuradnja">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th>
                        Adresa
                        <span>
                            <span>
                                <a class="btn btn-light" asp-controller="Dobavljaci" asp-action="Index" asp-route-sortBy="Adresa" asp-route-sortDirection="Asc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-grad="@ViewBag.Grad" asp-route-aktivnaSuradnja="@ViewBag.AktivnaSuradnja">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light" asp-controller="Dobavljaci" asp-action="Index" asp-route-sortBy="Adresa" asp-route-sortDirection="Desc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-grad="@ViewBag.Grad" asp-route-aktivnaSuradnja="@ViewBag.AktivnaSuradnja">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th>
                        Grad
                    </th>
                    <th>
                        Država
                    </th>
                    <th>
                        Telefon
                        <span>
                            <span>
                                <a class="btn btn-light" asp-controller="Dobavljaci" asp-action="Index" asp-route-sortBy="Telefon" asp-route-sortDirection="Asc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-grad="@ViewBag.Grad" asp-route-aktivnaSuradnja="@ViewBag.AktivnaSuradnja">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light" asp-controller="Dobavljaci" asp-action="Index" asp-route-sortBy="Telefon" asp-route-sortDirection="Desc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-grad="@ViewBag.Grad" asp-route-aktivnaSuradnja="@ViewBag.AktivnaSuradnja">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th>
                        Email
                        <span>
                            <span>
                                <a class="btn btn-light" asp-controller="Dobavljaci" asp-action="Index" asp-route-sortBy="Email" asp-route-sortDirection="Asc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-grad="@ViewBag.Grad" asp-route-aktivnaSuradnja="@ViewBag.AktivnaSuradnja">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light" asp-controller="Dobavljaci" asp-action="Index" asp-route-sortBy="Email" asp-route-sortDirection="Desc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-grad="@ViewBag.Grad" asp-route-aktivnaSuradnja="@ViewBag.AktivnaSuradnja">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th>
                        Datum početka suradnje
                        <span>
                            <span>
                                <a class="btn btn-light" asp-controller="Dobavljaci" asp-action="Index" asp-route-sortBy="PocetakSuradnje" asp-route-sortDirection="Asc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-grad="@ViewBag.Grad" asp-route-aktivnaSuradnja="@ViewBag.AktivnaSuradnja">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light" asp-controller="Dobavljaci" asp-action="Index" asp-route-sortBy="PocetakSuradnje" asp-route-sortDirection="Desc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-grad="@ViewBag.Grad" asp-route-aktivnaSuradnja="@ViewBag.AktivnaSuradnja">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th>
                        Datum kraja suradnje
                        <span>
                            <span>
                                <a class="btn btn-light" asp-controller="Dobavljaci" asp-action="Index" asp-route-sortBy="KrajSuradnje" asp-route-sortDirection="Asc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-grad="@ViewBag.Grad" asp-route-aktivnaSuradnja="@ViewBag.AktivnaSuradnja">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light" asp-controller="Dobavljaci" asp-action="Index" asp-route-sortBy="KrajSuradnje" asp-route-sortDirection="Desc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-grad="@ViewBag.Grad" asp-route-aktivnaSuradnja="@ViewBag.AktivnaSuradnja">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th>
                        Aktivna suradnja
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adresa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Drzava)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PocetakSuradnje)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KrajSuradnje)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SuradnjaAktivna)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IDDobavljac">Uredi</a> |
                            <a asp-action="Delete" asp-route-id="@item.IDDobavljac">Izbriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(prevPage < 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous"
                       asp-controller="Dobavljaci"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Dobavljaci" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize" asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">@i</a>
                    </li>
                }

                <li class="page-item @(nextPage > ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" aria-label="Next"
                       asp-controller="Dobavljaci"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}