@model SportPro.Web.Models.Domains.ProSportKorisnici

@{
    ViewData["Title"] = "Brisanje korisnika ProSport aplikacije";
}


<h3>Jeste sigurni da želite izbrisati korisnika?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Ime
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class="col-sm-2">
            Prezime
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class="col-sm-2">
            Spol
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spol)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Lozinka
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lozinka)
        </dd>
        <dt class="col-sm-2">
            Telefon
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class="col-sm-2">
            Adresa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class="col-sm-2">
            Grad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grad)
        </dd>
        <dt class="col-sm-2">
            Država
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drzava)
        </dd>
        <dt class="col-sm-2">
            Poštanski broj
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostanskiBroj)
        </dd>
        <dt class="col-sm-2">
            Datum rođenja
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumRodenja)
        </dd>
        <dt class="col-sm-2">
            Datum registracije
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumRegistracije)
        </dd>
        <dt class="col-sm-2">
            Verificiran
        </dt>
        <dd class="col-sm-10">
            @if (Model.Verificiran == true)
            {
                <text>Da</text>
            }
            else
            {
                <text>Ne</text>
            }
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IDKorisnik" />
        <input type="submit" value="Izbriši" class="btn btn-danger" /> |
        <a asp-action="Index">Vrati se na popis</a>
    </form>
</div>
