@model IEnumerable<SportPro.Web.Models.Domains.ProSportKorisnici>

@{
    ViewData["Title"] = "Korisnici ProSport aplikacije";
}


<p>
    <a asp-action="Add">Dodaj novog korisnika</a>
</p>
@if (Model.Count() == 0)
{
    <h2 align="center">Nema podataka o korisnicima!</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ime
                </th>
                <th>
                    Prezime
                </th>
                <th>
                    Spol
                </th>
                <th>
                    Email
                </th>
                <th>
                    Lozinka
                </th>
                <th>
                    Telefon
                </th>
                <th>
                    Adresa
                </th>
                <th>
                    Grad
                </th>
                <th>
                    Država
                </th>
                <th>
                    Poštanski broj
                </th>
                <th>
                    Datum rođenja
                </th>
                <th>
                    Datum registracije
                </th>
                <th>
                    Verificiran
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prezime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Spol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lozinka)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Drzava)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostanskiBroj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumRodenja)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumRegistracije)
                    </td>
                    <td>
                        @if (item.Verificiran == true)
                        {
                            <text>Da</text>
                        }
                        else
                        {
                            <text>Ne</text>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IDKorisnik">Uredi</a> |
                        <a asp-action="Delete" asp-route-id="@item.IDKorisnik">Izbriši</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}