@model IEnumerable<SportPro.Web.Models.Domains.Narudzbe>

@{
    ViewData["Title"] = "Narudžbe";

    string GetDobavljac(int? id, IEnumerable<SportPro.Web.Models.Domains.Dobavljaci> dobavljaci)
    {
        var dobavljac = dobavljaci.FirstOrDefault(x => x.IDDobavljac == id);
        if (dobavljac != null)
        {
            return dobavljac.Naziv;
        }
        return "";
    }

    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
    int currentPage = Convert.ToInt32(ViewBag.PageNumber);

}
@if (User.IsInRole("Uposlenik"))
{
    <p>
        <a asp-action="Add">Dodaj novu narudžbu</a>
    </p>

    <form method="get" asp-controller="Narudzbe" asp-action="Index">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control" name="naziv" value="@ViewBag.Naziv" placeholder="Naziv" />
                </div>
                <div class="col-md-3">
                    <input type="date" class="form-control" name="startDate" value="@ViewBag.StartDate" placeholder="Datum nabave" />
                </div>
                <div class="col-md-3">
                    <input type="date" class="form-control" name="endDate" value="@ViewBag.EndDate" placeholder="Datum isporuke" />
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="status" asp-items="@ViewBag.StatusList"></select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 d-flex">
                    <button type="submit" class="btn btn-warning">Pretraži</button>
                </div>
            </div>
        </div>
    </form>

    <br />

    @if (Model.Count() == 0)
    {
        <h2 align="center">Nema podataka o narudžbama!</h2>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="d-flex align-items-center">
                            Naziv artikla
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="NazivArtikla" asp-route-sortDirection="Asc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-up"></i>
                                </a>

                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="NazivArtikla" asp-route-sortDirection="Desc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        Dobavljač
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Datum nabave
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="DatumNabave" asp-route-sortDirection="Asc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="DatumNabave" asp-route-sortDirection="Desc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Datum isporuke
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="DatumIsporuke" asp-route-sortDirection="Asc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="DatumIsporuke" asp-route-sortDirection="Desc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Količina
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="Kolicina" asp-route-sortDirection="Asc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="Kolicina" asp-route-sortDirection="Desc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Cijena po komadu
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="CijenaPoKomadu" asp-route-sortDirection="Asc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="CijenaPoKomadu" asp-route-sortDirection="Desc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Cijena dostave
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="CijenaDostave" asp-route-sortDirection="Asc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="CijenaDostave" asp-route-sortDirection="Desc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Porez
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="Porez" asp-route-sortDirection="Asc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="Porez" asp-route-sortDirection="Desc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        Dodatne naknade
                    </th>
                    <th>
                        Ukupni trošak
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Status
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="Status" asp-route-sortDirection="Asc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Narudzbe" asp-action="Index" asp-route-sortBy="Status" asp-route-sortDirection="Desc" asp-route-naziv="@ViewBag.Naziv"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" asp-route-status="@ViewBag.StatusList">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        Napomene
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NazivArtikla)
                        </td>
                        <td>
                            @{
                                var dobavljac = GetDobavljac(item.DobavljacIDDobavljac, ViewBag.Dobavljaci as IEnumerable<SportPro.Web.Models.Domains.Dobavljaci>);
                                @dobavljac
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumNabave)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumIsporuke)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kolicina)
                        </td>
                        <td>
                            @if (item.CijenaPoKomadu == null)
                            {
                                <text>0 KM</text>
                            }
                            else
                            {
                                <text>@item.CijenaPoKomadu KM</text>
                            }
                        </td>
                        <td>
                            @if (item.CijenaDostave == null)
                            {
                                <text>0 KM</text>
                            }
                            else
                            {
                                <text>@item.CijenaDostave KM</text>
                            }
                        </td>
                        <td>
                            @if (item.Porez == null)
                            {
                                <text>0 KM</text>
                            }
                            else
                            {
                                <text>@item.Porez KM</text>
                            }
                        </td>
                        <td>
                            @if (item.DodatneNaknade == null)
                            {
                                <text>0 KM</text>
                            }
                            else
                            {
                                <text>@item.DodatneNaknade KM</text>
                            }
                        </td>
                        <td>
                            @{
                                if (item.UkupniTrosak == null)
                                {
                                    <text>0 KM</text>
                                }
                                else
                                {
                                    <text>@item.UkupniTrosak KM</text>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Napomene)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IDNarudzba">Uredi</a> |
                            <a asp-action="Delete" asp-route-id="@item.IDNarudzba">Izbriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(prevPage < 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous"
                       asp-controller="Narudzbe"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Narudzbe" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize" asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">@i</a>
                    </li>
                }

                <li class="page-item @(nextPage > ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" aria-label="Next"
                       asp-controller="Narudzbe"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}


<style>
    .sort-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sort-button {
        padding: 0;
        margin: 0;
        font-size: 0.8rem; /* Adjusts the size of the sort icons */
    }
</style>

