@model IEnumerable<SportPro.Web.Models.Domains.Narudzbe>

@{
    ViewData["Title"] = "Narudžbe";

    string GetDobavljac(int? id, IEnumerable<SportPro.Web.Models.Domains.Dobavljaci> dobavljaci)
    {
        var dobavljac = dobavljaci.FirstOrDefault(x => x.IDDobavljac == id);
        if (dobavljac != null)
        {
            return dobavljac.Naziv;
        }
        return "";
    }

    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
    int currentPage = Convert.ToInt32(ViewBag.PageNumber);
}
@if (User.IsInRole("Uposlenik"))
{
    <p>
        <a asp-action="Add">Dodaj novu narudžbu</a>
    </p>
    @if (Model.Count() == 0)
    {
        <h2 align="center">Nema podataka o narudžbama!</h2>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naziv artikla
                    </th>
                    <th>
                        Dobavljač
                    </th>
                    <th>
                        Datum nabave
                    </th>
                    <th>
                        Datum isporuke
                    </th>
                    <th>
                        Količina
                    </th>
                    <th>
                        Cijena po komadu
                    </th>
                    <th>
                        Cijena dostave
                    </th>
                    <th>
                        Porez
                    </th>
                    <th>
                        Dodatne naknade
                    </th>
                    <th>
                        Ukupni trošak
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Napomene
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NazivArtikla)
                        </td>
                        <td>
                            @{
                                var dobavljac = GetDobavljac(item.DobavljacIDDobavljac, ViewBag.Dobavljaci as IEnumerable<SportPro.Web.Models.Domains.Dobavljaci>);
                                @dobavljac
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumNabave)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumIsporuke)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kolicina)
                        </td>
                        <td>
                            @if (item.CijenaPoKomadu == null)
                            {
                                <text>0 KM</text>
                            }
                            else
                            {
                                <text>@item.CijenaPoKomadu KM</text>
                            }
                        </td>
                        <td>
                            @if (item.CijenaDostave == null)
                            {
                                <text>0 KM</text>
                            }
                            else
                            {
                                <text>@item.CijenaDostave KM</text>
                            }
                        </td>
                        <td>
                            @if (item.Porez == null)
                            {
                                <text>0 KM</text>
                            }
                            else
                            {
                                <text>@item.Porez KM</text>
                            }
                        </td>
                        <td>
                            @if (item.DodatneNaknade == null)
                            {
                                <text>0 KM</text>
                            }
                            else
                            {
                                <text>@item.DodatneNaknade KM</text>
                            }
                        </td>
                        <td>
                            @{
                                if (item.UkupniTrosak == null)
                                {
                                    <text>0 KM</text>
                                }
                                else
                                {
                                    <text>@item.UkupniTrosak KM</text>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Napomene)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IDNarudzba">Uredi</a> |
                            <a asp-action="Delete" asp-route-id="@item.IDNarudzba">Izbriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(prevPage < 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous"
                       asp-controller="Narudzbe"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Narudzbe" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize">@i</a>
                    </li>
                }

                <li class="page-item @(nextPage > ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" aria-label="Next"
                       asp-controller="Narudzbe"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}