@model IEnumerable<SportPro.Web.Models.Domains.Brendovi>

@{
    ViewData["Title"] = "Brendovi";

    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
    int currentPage = Convert.ToInt32(ViewBag.PageNumber);
}

@if (User.IsInRole("Uposlenik"))
{
    <p>
        <a asp-controller="Brendovi" asp-action="Add">Dodaj novi brend</a>
    </p>
    @if (Model.Count() == 0)
    {
        <h2 align="center">Nema podataka o brendovima!</h2>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naziv brenda
                    </th>
                    <th>
                        Vrsta
                    </th>
                    <th>
                        Osnivač
                    </th>
                    <th>
                        Godina osnivanja
                    </th>
                    <th>
                        Sjedište
                    </th>
                    <th>
                        Predsjednik
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NazivBrenda)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vrsta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Osnivac)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GodinaOsnivanja)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sjediste)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Predsjednik)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IDBrend">Uredi</a> |
                            <a asp-action="Delete" asp-route-id="@item.IDBrend">Izbriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(prevPage < 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous"
                       asp-controller="Brendovi"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Brendovi" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize">@i</a>
                    </li>
                }

                <li class="page-item @(nextPage > ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" aria-label="Next"
                       asp-controller="Brendovi"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}