@model IEnumerable<SportPro.Web.Models.Domains.Brendovi>

@{
    ViewData["Title"] = "Brendovi";

    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
    int currentPage = Convert.ToInt32(ViewBag.PageNumber);
}

@if (User.IsInRole("Uposlenik"))
{
    <p>
        <a asp-controller="Brendovi" asp-action="Add" class="btn btn-primary ms-3">Dodaj novi brend</a>
    </p>

    @if (Model.Count() != 0)
    {
        <form method="get" asp-controller="Brendovi" asp-action="Index">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="nazivBrenda" value="@ViewBag.NazivBrenda" placeholder="Naziv brenda" />
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" name="vrsta" asp-items="@ViewBag.VrstaList"></select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" name="status" asp-items="@ViewBag.StatusList"></select>
                    </div>
                    <div class="col-md-3 d-flex align-items-end">
                        <button type="submit" class="btn btn-warning">Pretraži</button>
                    </div>
                </div>
            </div>
        </form>
    }

    <br />

    @if (Model.Count() == 0)
    {
        <h2 align="center">Nema podataka o brendovima!</h2>
    }
    else
    {
        <table class="table table-hover table-bordered border-secondary mt-4">
            <thead>
                <tr class="table-primary">
                    <th>
                        <div class="d-flex align-items-center">
                            <span>Naziv brenda</span>
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Brendovi" asp-action="Index" asp-route-sortBy="NazivBrenda" asp-route-sortDirection="Asc" asp-route-nazivBrenda="@ViewBag.NazivBrenda" asp-route-vrsta="@ViewBag.Vrsta" asp-route-status="@ViewBag.Status">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Brendovi" asp-action="Index" asp-route-sortBy="NazivBrenda" asp-route-sortDirection="Desc" asp-route-nazivBrenda="@ViewBag.NazivBrenda" asp-route-vrsta="@ViewBag.Vrsta" asp-route-status="@ViewBag.Status">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Vrsta</th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span>Osnivač</span>
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Brendovi" asp-action="Index" asp-route-sortBy="Osnivac" asp-route-sortDirection="Asc" asp-route-nazivBrenda="@ViewBag.NazivBrenda" asp-route-vrsta="@ViewBag.Vrsta" asp-route-status="@ViewBag.Status">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Brendovi" asp-action="Index" asp-route-sortBy="Osnivac" asp-route-sortDirection="Desc" asp-route-nazivBrenda="@ViewBag.NazivBrenda" asp-route-vrsta="@ViewBag.Vrsta" asp-route-status="@ViewBag.Status">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span>Godina osnivanja</span>
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Brendovi" asp-action="Index" asp-route-sortBy="GodinaOsnivanja" asp-route-sortDirection="Asc" asp-route-nazivBrenda="@ViewBag.NazivBrenda" asp-route-vrsta="@ViewBag.Vrsta" asp-route-status="@ViewBag.Status">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Brendovi" asp-action="Index" asp-route-sortBy="GodinaOsnivanja" asp-route-sortDirection="Desc" asp-route-nazivBrenda="@ViewBag.NazivBrenda" asp-route-vrsta="@ViewBag.Vrsta" asp-route-status="@ViewBag.Status">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span>Sjedište</span>
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Brendovi" asp-action="Index" asp-route-sortBy="Sjediste" asp-route-sortDirection="Asc" asp-route-nazivBrenda="@ViewBag.NazivBrenda" asp-route-vrsta="@ViewBag.Vrsta" asp-route-status="@ViewBag.Status">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Brendovi" asp-action="Index" asp-route-sortBy="Sjediste" asp-route-sortDirection="Desc" asp-route-nazivBrenda="@ViewBag.NazivBrenda" asp-route-vrsta="@ViewBag.Vrsta" asp-route-status="@ViewBag.Status">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span>Predsjednik</span>
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Brendovi" asp-action="Index" asp-route-sortBy="Predsjednik" asp-route-sortDirection="Asc" asp-route-nazivBrenda="@ViewBag.NazivBrenda" asp-route-vrsta="@ViewBag.Vrsta" asp-route-status="@ViewBag.Status">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Brendovi" asp-action="Index" asp-route-sortBy="Predsjednik" asp-route-sortDirection="Desc" asp-route-nazivBrenda="@ViewBag.NazivBrenda" asp-route-vrsta="@ViewBag.Vrsta" asp-route-status="@ViewBag.Status">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.NazivBrenda)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vrsta)</td>
                        <td>@Html.DisplayFor(modelItem => item.Osnivac)</td>
                        <td>@Html.DisplayFor(modelItem => item.GodinaOsnivanja)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sjediste)</td>
                        <td>@Html.DisplayFor(modelItem => item.Predsjednik)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IDBrend" class="btn btn-success">Uredi</a>
                            <a asp-action="Delete" asp-route-id="@item.IDBrend" class="btn btn-danger">Izbriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(prevPage < 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous"
                       asp-controller="Brendovi"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Brendovi" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize" asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">@i</a>
                    </li>
                }

                <li class="page-item @(nextPage > ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" aria-label="Next"
                       asp-controller="Brendovi"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}

<style>
    .sort-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sort-button {
        padding: 0;
        margin: 0;
        font-size: 0.8rem; /* Adjusts the size of the sort icons */
    }
</style>
