@model IEnumerable<SportPro.Web.Models.Domains.Artikli>

@{
    ViewData["Title"] = "Artikli";

    string GetDobavljacName(int? id, IEnumerable<SportPro.Web.Models.Domains.Dobavljaci> dobavljaci)
    {
        var dobavljac = dobavljaci.FirstOrDefault(d => d.IDDobavljac == id);
        if (dobavljac != null)
        {
            return dobavljac.Naziv;
        }
        return "";
    }

    string GetBrendName(int? id, IEnumerable<SportPro.Web.Models.Domains.Brendovi> brendovi)
    {
        var brend = brendovi.FirstOrDefault(b => b.IDBrend == id);
        if (brend != null)
        {
            return brend.NazivBrenda;
        }
        return "";
    }

    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
    int currentPage = Convert.ToInt32(ViewBag.PageNumber);
}

@if (User.IsInRole("Uposlenik"))
{
    <p>
        <a asp-action="Add">Dodaj novi artikl</a>
    </p>
    @if (Model.Count() == 0)
    {
        <h2 align="center">Nema podataka o artiklima!</h2>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naziv artikla
                    </th>
                    <th>
                        Opis
                    </th>
                    <th>
                        Cijena
                    </th>
                    <th>
                        Snižen
                    </th>
                    <th>
                        Snižena cijena
                    </th>
                    <th>
                        Nabavna količina
                    </th>
                    <th>
                        Trenutna količina
                    </th>
                    <th>
                        Na stanju
                    </th>
                    <th>
                        Datum nabave
                    </th>
                    <th>
                        Nabavna cijena (po komadu)
                    </th>
                    <th>
                        Cijena dostave
                    </th>
                    <th>
                        Ukupni trošak
                    </th>
                    <th>
                        Ukupna zarada
                    </th>
                    <th>
                        Dobavljač
                    </th>
                    <th>
                        Brend
                    </th>
                    <th>
                        Kategorije
                    </th>
                    <th>
                        Boje
                    </th>
                    <th>
                        Veličine
                    </th>
                    <th>
                        Poslovnice
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td>
                            <a href="#" class="opis-link" data-bs-toggle="modal" data-bs-target="#opisModal_@item.IDArtikal">Prikaži opis</a>
                            <div class="modal fade" id="opisModal_@item.IDArtikal" tabindex="-1" aria-labelledby="opisModalLabel_@item.IDArtikal" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="opisModalLabel_@item.IDArtikal">Opis artikla</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            @Html.Raw(item.Opis)
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cijena) KM
                        </td>
                        <td>
                            @if (item.Snizen)
                            {
                                <text>Da</text>
                            }
                            else
                            {
                                <text>Ne</text>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SnizenaCijena) KM
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NabavnaKolicina)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrenutnaKolicina)
                        </td>
                        <td>
                            @if (item.NaStanju)
                            {
                                <text>Da</text>
                            }
                            else
                            {
                                <text>Ne</text>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumNabave)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NabavnaCijena) KM
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CijenaDostave) KM
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UkupniTrosak) KM
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UkupnaZarada) KM
                        </td>
                        <td>
                            @{
                                var dobavljac = GetDobavljacName(item.DobavljacIDDobavljac, ViewData["Dobavljaci"] as IEnumerable<SportPro.Web.Models.Domains.Dobavljaci>);
                                @dobavljac
                            }
                        </td>
                        <td>
                            @{
                                var brend = GetBrendName(item.BrendIDBrend, ViewData["Brendovi"] as IEnumerable<SportPro.Web.Models.Domains.Brendovi>);
                                @brend
                            }
                        </td>
                        <td>
                            @foreach (var kategorija in item.Kategorije)
                            {
                                <span>@kategorija.Naziv</span>
                            }
                        </td>
                        <td>
                            @foreach (var boja in item.Boje)
                            {
                                <span>@boja.NazivBoje</span>
                            }
                        </td>
                        <td>
                            @foreach (var velicina in item.Velicine)
                            {
                                <span>@velicina.Velicina</span>
                            }
                        </td>
                        <td>
                            @foreach (var poslovnica in item.Poslovnice)
                            {
                                <span>@poslovnica.Naziv</span>
                            }
                        </td>

                        <td>

                            <a asp-action="Edit" asp-route-id="@item.IDArtikal">Uredi</a> |
                            <a asp-action="Delete" asp-route-id="@item.IDArtikal">Izbriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(prevPage < 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous"
                       asp-controller="Artikli"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Artikli" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize">@i</a>
                    </li>
                }

                <li class="page-item @(nextPage > ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" aria-label="Next"
                       asp-controller="Artikli"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pristup ovoj stranici!</h2>
    </div>
}