@model IEnumerable<SportPro.Web.Models.Domains.Pravilnici>

@{
    ViewData["Title"] = "Pravilnici";
}

<p>
    <a asp-asp-controller="Pravilnici" asp-action="Add">Dodaj novi pravilnik</a>
</p>

@if (Model.Count() == 0)
{
    <h2 align="center">Nema podataka o pravilnicima!</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Datum objave
                </th>
                <th>
                    Aktivan
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.Raw(item.Opis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumObjavljivanja)
                    </td>
                    <td>
                        @if (item.Aktivan)
                        {
                            <text>Da</text>
                        }
                        else
                        {
                            <text>Ne</text>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IDPravilnik">Uredi</a> |
                        <a asp-action="Delete" asp-route-id="@item.IDPravilnik">Izbriši</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}