@model IEnumerable<SportPro.Web.Models.Domains.Pravilnici>

@{
    ViewData["Title"] = "Pravilnici";

    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
    int currentPage = Convert.ToInt32(ViewBag.PageNumber);
}


@if (User.IsInRole("Uposlenik"))
{
    <p>
        <a asp-asp-controller="Pravilnici" asp-action="Add" class="btn btn-primary ms-3">Dodaj novi pravilnik</a>
    </p>


    <form method="get" asp-controller="Pravilnici" asp-action="Index">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control" name="searchQuery" value="@ViewBag.SearchQuery" placeholder="Pretraži po nazivu" />
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="searchQuery2" asp-items="ViewBag.AktivanList"></select>
                </div>
                <div class="col-md-3">
                    <input type="date" class="form-control" id="startDate" name="startDate" value="@ViewBag.StartDate" />
                </div>
                <div class="col-md-3">
                    <input type="date" class="form-control" id="endDate" name="endDate" value="@ViewBag.EndDate" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 d-flex">
                    <button type="submit" class="btn btn-warning">Pretraži</button>
                </div>
            </div>
        </div>
    </form>



    <br />

    @if (Model.Count() == 0)
    {
        <h2 align="center">Nema podataka o pravilnicima!</h2>
    }
    else
    {
        <table class="table table-hover table-bordered border-secondary mt-4">
            <thead>
                <tr class="table-primary">
                    <th>
                        <div class="d-flex align-items-center">
                            Naziv
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Pravilnici" asp-action="Index" asp-route-sortBy="Naziv" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery" asp-route-aktivanList="ViewBag.AktivanList"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Pravilnici" asp-action="Index" asp-route-sortBy="Naziv" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery" asp-route-aktivanList="ViewBag.AktivanList"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        Opis
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Datum objave
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Pravilnici" asp-action="Index" asp-route-sortBy="Naziv" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery" asp-route-aktivanList="ViewBag.AktivanList"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Pravilnici" asp-action="Index" asp-route-sortBy="Naziv" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery" asp-route-aktivanList="ViewBag.AktivanList"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Aktivan
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Pravilnici" asp-action="Index" asp-route-sortBy="Naziv" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery" asp-route-aktivanList="ViewBag.AktivanList"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Pravilnici" asp-action="Index" asp-route-sortBy="Naziv" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery" asp-route-aktivanList="ViewBag.AktivanList"
                                   asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td>
                            <a href="#" class="opis-link btn btn-secondary" data-bs-toggle="modal" data-bs-target="#opisModal_@item.IDPravilnik">Prikaži opis</a>
                            <div class="modal fade" id="opisModal_@item.IDPravilnik" tabindex="-1" aria-labelledby="opisModalLabel_@item.IDPravilnik" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="opisModalLabel_@item.IDPravilnik">Opis pravilnika</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            @Html.Raw(item.Opis)
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumObjavljivanja)
                        </td>
                        <td>
                            @if (item.Aktivan)
                            {
                                <text>Da</text>
                            }
                            else
                            {
                                <text>Ne</text>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IDPravilnik" class="btn btn-success">Uredi</a>
                            <a asp-action="Delete" asp-route-id="@item.IDPravilnik" class="btn btn-danger">Izbriši</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(prevPage < 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous"
                       asp-controller="Pravilnici"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Pravilnici" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize" asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">@i</a>
                    </li>
                }

                <li class="page-item @(nextPage > ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" aria-label="Next"
                       asp-controller="Pravilnici"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}