@model SportPro.Web.Models.Domains.Kandidati

@{
    ViewData["Title"] = "Brisanje kandidata";
}

@if (User.IsInRole("Menadzer"))
{
    <h3>Jesi siguran da želiš izbrisati kandidata?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Ime
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ime)
            </dd>
            <dt class="col-sm-2">
                Prezime
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Prezime)
            </dd>
            <dt class="col-sm-2">
                Adresa
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Adresa)
            </dd>
            <dt class="col-sm-2">
                Grad
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Grad)
            </dd>
            <dt class="col-sm-2">
                Država
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Drzava)
            </dd>
            <dt class="col-sm-2">
                Poštanski broj
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PostanskiBroj)
            </dd>
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                Telefon
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telefon)
            </dd>
            <dt class="col-sm-2">
                Datum prijave
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DatumPrijave)
            </dd>
            <dt class="col-sm-2">
                Napomene
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Napomene)
            </dd>
            <dt class="col-sm-2">
                Natječaji
            </dt>
            <dd class="col-sm-10">
                @foreach (var item in Model.Natjecaji)
                {
                    <div>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </div>
                }
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IDKandidat" />
            <input type="submit" value="Izbriši" class="btn btn-danger" /> |
            <a asp-action="Index">Vrati se na popis</a>
        </form>
    </div>
}
else
{
    <div class="container my-5">
        <h2 align="center">You are not allowed to access this page!</h2>
    </div>
}