@model IEnumerable<SportPro.Web.Models.Domains.Kandidati>

@{
    ViewData["Title"] = "Kandidati za natječaje";

    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
    int currentPage = Convert.ToInt32(ViewBag.PageNumber);
}

@if (User.IsInRole("Menadzer"))
{
    <p>
        <a asp-action="Add" class="btn btn-primary ms-3">Dodaj novog kandidata</a>
    </p>

    <form method="get" asp-controller="Kandidati" asp-action="Index">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control" name="ime" value="@ViewBag.Ime" placeholder="Ime" />
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="prezime" value="@ViewBag.Prezime" placeholder="Prezime" />
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="grad" value="@ViewBag.Grad" placeholder="Grad" />
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="natjecaj" value="@ViewBag.Natjecaj" placeholder="Natječaj" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-warning">Pretraži</button>
                </div>
            </div>
        </div>
    </form>

    @if (Model.Count() == 0)
    {
        <h2 align="center">Nema podataka o kandidatima!</h2>
    }
    else
    {
        <table class="table table-hover table-bordered border-secondary mt-4">
            <thead>
                <tr class="table-primary">
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>Ime</span>
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Kandidati" asp-action="Index" asp-route-sortBy="Ime" asp-route-sortDirection="Asc" asp-route-ime="@ViewBag.Ime"
                                   asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad" asp-route-natjecaj="@ViewBag.Natjecaj">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Kandidati" asp-action="Index" asp-route-sortBy="Ime" asp-route-sortDirection="Desc" asp-route-ime="@ViewBag.Ime"
                                   asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad" asp-route-natjecaj="@ViewBag.Natjecaj">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>Prezime</span>
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Kandidati" asp-action="Index" asp-route-sortBy="Prezime" asp-route-sortDirection="Asc" asp-route-ime="@ViewBag.Ime"
                                   asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad" asp-route-natjecaj="@ViewBag.Natjecaj">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Kandidati" asp-action="Index" asp-route-sortBy="Prezime" asp-route-sortDirection="Desc" asp-route-ime="@ViewBag.Ime"
                                   asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad" asp-route-natjecaj="@ViewBag.Natjecaj">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Adresa</th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>Grad</span>
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Kandidati" asp-action="Index" asp-route-sortBy="Grad" asp-route-sortDirection="Asc" asp-route-ime="@ViewBag.Ime"
                                   asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad" asp-route-natjecaj="@ViewBag.Natjecaj">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Kandidati" asp-action="Index" asp-route-sortBy="Grad" asp-route-sortDirection="Desc" asp-route-ime="@ViewBag.Ime"
                                   asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad" asp-route-natjecaj="@ViewBag.Natjecaj">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>Država</span>
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Kandidati" asp-action="Index" asp-route-sortBy="Drzava" asp-route-sortDirection="Asc" asp-route-ime="@ViewBag.Ime"
                                   asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad" asp-route-natjecaj="@ViewBag.Natjecaj">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Kandidati" asp-action="Index" asp-route-sortBy="Drzava" asp-route-sortDirection="Desc" asp-route-ime="@ViewBag.Ime"
                                   asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad" asp-route-natjecaj="@ViewBag.Natjecaj">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Poštanski broj</th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>Email</span>
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Kandidati" asp-action="Index" asp-route-sortBy="Email" asp-route-sortDirection="Asc" asp-route-ime="@ViewBag.Ime"
                                   asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad" asp-route-natjecaj="@ViewBag.Natjecaj">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Kandidati" asp-action="Index" asp-route-sortBy="Email" asp-route-sortDirection="Desc" asp-route-ime="@ViewBag.Ime"
                                   asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad" asp-route-natjecaj="@ViewBag.Natjecaj">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>Telefon</span>
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Kandidati" asp-action="Index" asp-route-sortBy="Telefon" asp-route-sortDirection="Asc" asp-route-ime="@ViewBag.Ime"
                                   asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad" asp-route-natjecaj="@ViewBag.Natjecaj">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Kandidati" asp-action="Index" asp-route-sortBy="Telefon" asp-route-sortDirection="Desc" asp-route-ime="@ViewBag.Ime"
                                   asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad" asp-route-natjecaj="@ViewBag.Natjecaj">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>Datum prijave</span>
                            <div class="d-flex">
                                <a class="btn btn-light p-0" asp-controller="Kandidati" asp-action="Index" asp-route-sortBy="DatumPrijave" asp-route-sortDirection="Asc" asp-route-ime="@ViewBag.Ime"
                                   asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad" asp-route-natjecaj="@ViewBag.Natjecaj">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light p-0" asp-controller="Kandidati" asp-action="Index" asp-route-sortBy="DatumPrijave" asp-route-sortDirection="Desc" asp-route-ime="@ViewBag.Ime"
                                   asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad" asp-route-natjecaj="@ViewBag.Natjecaj">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Napomene</th>
                    <th>Natječaj</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Ime)</td>
                        <td>@Html.DisplayFor(modelItem => item.Prezime)</td>
                        <td>@Html.DisplayFor(modelItem => item.Adresa)</td>
                        <td>@Html.DisplayFor(modelItem => item.Grad)</td>
                        <td>@Html.DisplayFor(modelItem => item.Drzava)</td>
                        <td>@Html.DisplayFor(modelItem => item.PostanskiBroj)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.Telefon)</td>
                        <td>@Html.DisplayFor(modelItem => item.DatumPrijave)</td>
                        <td>@Html.DisplayFor(modelItem => item.Napomene)</td>
                        <td>
                            @foreach (var natjecaj in item.Natjecaji)
                            {
                                <span>@natjecaj.Naziv</span>
                            }
                        </td>
                        <td class="justify-content-between">
                            <a asp-action="Edit" asp-route-id="@item.IDKandidat" class="btn btn-success btn-sm mb-1">Uredi</a>
                            <a asp-action="Delete" asp-route-id="@item.IDKandidat" class="btn btn-danger btn-sm">Izbriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(prevPage < 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous"
                       asp-controller="Kandidati"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Kandidati" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize" asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">@i</a>
                    </li>
                }

                <li class="page-item @(nextPage > ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" aria-label="Next"
                       asp-controller="Kandidati"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}

<style>
    .sort-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sort-button {
        padding: 0;
        margin: 0;
        font-size: 0.8rem; /* Adjusts the size of the sort icons */
    }

    .table thead th, .table tbody td {
        border-width: 1px;
        border-style: solid;
        border-color: #dee2e6;
        vertical-align: middle;
        text-align: center;
    }

        .table tbody td .btn {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.5;
            border-radius: 0.2rem;
        }

    .table tbody td {
        padding: 0.5rem;
    }

    .d-flex.justify-content-between {
        justify-content: center !important;
    }

    .pagination .page-item.disabled .page-link {
        pointer-events: none;
        cursor: not-allowed;
    }

    .pagination .page-item.active .page-link {
        background-color: #007bff;
        border-color: #007bff;
    }
</style>
