@model SportPro.Web.Models.ViewModels.EditNatjecajRequest

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EditNatjecajRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcijenjenaVrijednost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcijenjenaVrijednost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrajanjeOd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrajanjeOd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrajanjeDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrajanjeDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumObjave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumObjave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktivan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktivan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dobitnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dobitnik)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IDNatjecaj" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
