@model IEnumerable<SportPro.Web.Models.Domains.Natjecaji>

@{
    ViewData["Title"] = "Natječaji";

    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
    int currentPage = Convert.ToInt32(ViewBag.PageNumber);
}

@if (User.IsInRole("Menadzer"))
{
    <p>
        <a asp-controller="Natjecaji" asp-action="Add" class="btn btn-primary ms-3">Dodaj novi natječaj</a>
    </p>

    @if (Model.Count() != 0)
    {
        <form method="get" asp-controller="Natjecaji" asp-action="Index">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="searchQuery" value="@ViewBag.SearchQuery" placeholder="Pretraži po nazivu" />
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" name="searchQuery2" asp-items="@ViewBag.AktivanList" value="@ViewBag.AktivanList"></select>
                    </div>
                    <div class="col-md-3">
                        <label for="range-slider">Procijenjena vrijednost (0 - 10000):</label>
                        <div id="range-slider"></div>
                        <span id="minValueDisplay">@ViewBag.MinValue</span> - <span id="maxValueDisplay">@ViewBag.MaxValue</span>
                        <input type="hidden" id="minValue" name="minValue" value="@ViewBag.MinValue" />
                        <input type="hidden" id="maxValue" name="maxValue" value="@ViewBag.MaxValue" />
                    </div>
                    <div class="col-md-2">
                        <label for="startDate">Datum od:</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" value="@ViewBag.StartDate" />
                    </div>
                    <div class="col-md-2">
                        <label for="endDate">Datum do:</label>
                        <input type="date" class="form-control" id="endDate" name="endDate" value="@ViewBag.EndDate" />
                    </div>
                    <div class="col-md-1 d-flex align-items-end justify-content-center">
                        <button type="submit" class="btn btn-warning">Pretraži</button>
                    </div>
                </div>
            </div>
        </form>
    }

    <br />

    @if (Model.Count() == 0)
    {
        <h2 align="center">Nema podataka o natječajima!</h2>
    }
    else
    {
        <table class="table table-hover table-bordered border-secondary mt-4">
            <thead>
                <tr class="table-primary">
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>Naziv</span>
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Natjecaji" asp-action="Index" asp-route-sortBy="Naziv" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery"
                                   asp-route-searchQuery2="@ViewBag.AktivanList" asp-route-minValue="@ViewBag.MinValue" asp-route-maxValue="@ViewBag.MaxValue" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Natjecaji" asp-action="Index" asp-route-sortBy="Naziv" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery"
                                   asp-route-searchQuery2="@ViewBag.AktivanList" asp-route-minValue="@ViewBag.MinValue" asp-route-maxValue="@ViewBag.MaxValue" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Opis</th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>Vrijednost</span>
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Natjecaji" asp-action="Index" asp-route-sortBy="ProcijenjenaVrijednost" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery"
                                   asp-route-searchQuery2="@ViewBag.AktivanList" asp-route-minValue="@ViewBag.MinValue" asp-route-maxValue="@ViewBag.MaxValue" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Natjecaji" asp-action="Index" asp-route-sortBy="ProcijenjenaVrijednost" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery"
                                   asp-route-searchQuery2="@ViewBag.AktivanList" asp-route-minValue="@ViewBag.MinValue" asp-route-maxValue="@ViewBag.MaxValue" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>Trajanje od</span>
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Natjecaji" asp-action="Index" asp-route-sortBy="TrajanjeOd" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery"
                                   asp-route-searchQuery2="@ViewBag.AktivanList" asp-route-minValue="@ViewBag.MinValue" asp-route-maxValue="@ViewBag.MaxValue" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Natjecaji" asp-action="Index" asp-route-sortBy="TrajanjeOd" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery"
                                   asp-route-searchQuery2="@ViewBag.AktivanList" asp-route-minValue="@ViewBag.MinValue" asp-route-maxValue="@ViewBag.MaxValue" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>Trajanje do</span>
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Natjecaji" asp-action="Index" asp-route-sortBy="TrajanjeDo" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery"
                                   asp-route-searchQuery2="@ViewBag.AktivanList" asp-route-minValue="@ViewBag.MinValue" asp-route-maxValue="@ViewBag.MaxValue" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Natjecaji" asp-action="Index" asp-route-sortBy="TrajanjeDo" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery"
                                   asp-route-searchQuery2="@ViewBag.AktivanList" asp-route-minValue="@ViewBag.MinValue" asp-route-maxValue="@ViewBag.MaxValue" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            Datum objavljivanja
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Natjecaji" asp-action="Index" asp-route-sortBy="DatumObjave" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery"
                                   asp-route-searchQuery2="@ViewBag.AktivanList" asp-route-minValue="@ViewBag.MinValue" asp-route-maxValue="@ViewBag.MaxValue" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Natjecaji" asp-action="Index" asp-route-sortBy="DatumObjave" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery"
                                   asp-route-searchQuery2="@ViewBag.AktivanList" asp-route-minValue="@ViewBag.MinValue" asp-route-maxValue="@ViewBag.MaxValue" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>Aktivan</span>
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Natjecaji" asp-action="Index" asp-route-sortBy="Aktivan" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery"
                                   asp-route-searchQuery2="@ViewBag.AktivanList" asp-route-minValue="@ViewBag.MinValue" asp-route-maxValue="@ViewBag.MaxValue" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Natjecaji" asp-action="Index" asp-route-sortBy="Aktivan" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery"
                                   asp-route-searchQuery2="@ViewBag.AktivanList" asp-route-minValue="@ViewBag.MinValue" asp-route-maxValue="@ViewBag.MaxValue" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>Dobitnik</span>
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Natjecaji" asp-action="Index" asp-route-sortBy="Dobitnik" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery"
                                   asp-route-searchQuery2="@ViewBag.AktivanList" asp-route-minValue="@ViewBag.MinValue" asp-route-maxValue="@ViewBag.MaxValue" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Natjecaji" asp-action="Index" asp-route-sortBy="Dobitnik" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery"
                                   asp-route-searchQuery2="@ViewBag.AktivanList" asp-route-minValue="@ViewBag.MinValue" asp-route-maxValue="@ViewBag.MaxValue" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Naziv)</td>
                        <td>
                            <a href="#" class="opis-link btn btn-secondary" data-bs-toggle="modal" data-bs-target="#opisModal_@item.IDNatjecaj">Prikaži opis</a>
                            <div class="modal fade" id="opisModal_@item.IDNatjecaj" tabindex="-1" aria-labelledby="opisModalLabel_@item.IDNatjecaj" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="opisModalLabel_@item.IDNatjecaj">Opis natječaja</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            @Html.Raw(item.Opis)
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.ProcijenjenaVrijednost) KM</td>
                        <td>@Html.DisplayFor(modelItem => item.TrajanjeOd)</td>
                        <td>@Html.DisplayFor(modelItem => item.TrajanjeDo)</td>
                        <td>@Html.DisplayFor(modelItem => item.DatumObjave)</td>
                        <td>
                            @if (item.Aktivan)
                            {
                                <text>Da</text>
                            }
                            else
                            {
                                <text>Ne</text>
                            }
                        </td>
                        <td>
                            @if (item.Dobitnik != null)
                            {
                                <text>@item.Dobitnik</text>
                            }
                            else
                            {
                                <text>Nema dobitnika</text>
                            }
                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.IDNatjecaj" class="btn btn-success btn-sm">Uredi</a>
                            <a asp-action="Delete" asp-route-id="@item.IDNatjecaj" class="btn btn-danger btn-sm">Izbriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(prevPage < 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous"
                       asp-controller="Natjecaji"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Natjecaji" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize" asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">@i</a>
                    </li>
                }

                <li class="page-item @(nextPage > ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" aria-label="Next"
                       asp-controller="Natjecaji"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}

<style>
    .table thead th, .table tbody td {
        border-width: 1px;
        border-style: solid;
        border-color: #dee2e6;
        vertical-align: middle;
        text-align: center;
    }

        .table tbody td .btn {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.5;
            border-radius: 0.2rem;
        }

    .table tbody td {
        padding: 0.5rem;
    }

    .d-flex.justify-content-between {
        justify-content: center !important;
    }

    .pagination .page-item.disabled .page-link {
        pointer-events: none;
        cursor: not-allowed;
    }

    .pagination .page-item.active .page-link {
        background-color: #007bff;
        border-color: #007bff;
    }
</style>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>
    <script>
        var rangeSlider = document.getElementById('range-slider');

        noUiSlider.create(rangeSlider, {
            start: [@ViewBag.MinValue, @ViewBag.MaxValue],
            connect: true,
            range: {
                'min': 0,
                'max': 10000
            }
        });

        var minValueInput = document.getElementById('minValue');
        var maxValueInput = document.getElementById('maxValue');
        var minValueDisplay = document.getElementById('minValueDisplay');
        var maxValueDisplay = document.getElementById('maxValueDisplay');

        rangeSlider.noUiSlider.on('update', function (values, handle) {
            var value = Math.round(values[handle]);

            if (handle === 0) {
                minValueInput.value = value;
                minValueDisplay.innerText = value;
            } else {
                maxValueInput.value = value;
                maxValueDisplay.innerText = value;
            }
        });
    </script>
}
