@model IEnumerable<SportPro.Web.Models.Domains.Certifikati>

@{
    ViewData["Title"] = "Certifikati";


    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
    int currentPage = Convert.ToInt32(ViewBag.PageNumber);
}
@if (User.IsInRole("Uposlenik"))
{
    <p>
        <a asp-action="Add" class="btn btn-primary ms-3">Dodaj novi certifikat</a>
    </p>

    <form method="get"
          asp-controller="Certifikati" ,
          asp-action="Index">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3 d-flex">
                    <input type="text" class="form-control"
                           name="searchQuery" value="@ViewBag.SearchQuery" placeholder="Pretraži po nazivu" />
                    <button type="submit" class="btn btn-warning ms-3">Pretraži</button>
                </div>
            </div>
        </div>
    </form>

    <br />

    @if (Model.Count() == 0)
    {
        <h2 align="center">Nema podataka o certifikatima!</h2>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naziv
                        <span>
                            <span>
                                <a class="btn btn-light p-0" asp-controller="Certifikati" asp-action="Index" asp-route-sortBy="Naziv" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light p-0" asp-controller="Certifikati" asp-action="Index" asp-route-sortBy="Naziv" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th>
                        Opis
                    </th>
                    <th>
                        Datum dodjele
                        <span>
                            <span>
                                <a class="btn btn-light p-0" asp-controller="Certifikati" asp-action="Index" asp-route-sortBy="DatumDodjele" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light p-0" asp-controller="Certifikati" asp-action="Index" asp-route-sortBy="DatumDodjele" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th>
                        Organizacija
                        <span>
                            <span>
                                <a class="btn btn-light p-0" asp-controller="Certifikati" asp-action="Index" asp-route-sortBy="Organizacija" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light p-0" asp-controller="Certifikati" asp-action="Index" asp-route-sortBy="Organizacija" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th>
                        Slika
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td>
                            <a href="#" class="opis-link btn btn-secondary" data-bs-toggle="modal" data-bs-target="#opisModal_@item.IDCertifikat">Prikaži opis</a>
                            <div class="modal fade" id="opisModal_@item.IDCertifikat" tabindex="-1" aria-labelledby="opisModalLabel_@item.IDCertifikat" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="opisModalLabel_@item.IDCertifikat">Opis certifikata</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            @Html.Raw(item.Opis)
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumDodjele)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Organizacija)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Slika))
                            {
                                <img src="@item.Slika" alt="Slika" style="max-width: 200px; max-height: 200px;" />
                            }
                            else
                            {
                                <text>Slika za ovaj certifikat ne postoji!</text>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IDCertifikat" class="btn btn-success">Uredi</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(prevPage < 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous"
                       asp-controller="Certifikati"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Certifikati" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize" asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">@i</a>
                    </li>
                }

                <li class="page-item @(nextPage > ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" aria-label="Next"
                       asp-controller="Certifikati"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}