@model IEnumerable<SportPro.Web.Models.Domains.Certifikati>

@{
    ViewData["Title"] = "Certifikati";
}

<p>
    <a asp-action="Add">Dodaj novi certifikat</a>
</p>
@if (Model.Count() == 0)
{
    <h2 align="center">Nema podataka o certifikatima!</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Datum dodjele
                </th>
                <th>
                    Organizacija
                </th>
                <th>
                    Slika
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        <a href="#" class="opis-link" data-bs-toggle="modal" data-bs-target="#opisModal_@item.IDCertifikat">Prikaži opis</a>
                        <div class="modal fade" id="opisModal_@item.IDCertifikat" tabindex="-1" aria-labelledby="opisModalLabel_@item.IDCertifikat" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="opisModalLabel_@item.IDCertifikat">Opis certifikata</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        @Html.Raw(item.Opis)
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumDodjele)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Organizacija)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Slika))
                        {
                            <img src="@item.Slika" alt="Slika" style="max-width: 200px; max-height: 200px;" />
                        }
                        else
                        {
                            <text>Slika za ovaj certifikat ne postoji!</text>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IDCertifikat">Uredi</a> |
                        <a asp-action="Delete" asp-route-id="@item.IDCertifikat">Izbriši</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}