@model IEnumerable<SportPro.Web.Models.Domains.Zaposlenici>

@{
    ViewData["Title"] = "Zaposlenici";

    string GetPoslovnicaName(int? id, IEnumerable<SportPro.Web.Models.Domains.Poslovnice> poslovnice)
    {
        var poslovnica = poslovnice.FirstOrDefault(p => p.IDPoslovnica == id);
        if (poslovnica != null)
        {
            return poslovnica.Naziv;
        }
        return "";
    }

    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
    int currentPage = Convert.ToInt32(ViewBag.PageNumber);

}
@if (User.IsInRole("Vlasnik") || User.IsInRole("Menadzer"))
{
    <p>
        <a asp-controller="Zaposlenici" asp-action="Add" class="btn btn-primary ms-3">Dodaj novog zaposlenika</a>
    </p>

    <form method="get" asp-controller="Zaposlenici" asp-action="Index">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-2">
                    <input type="text" class="form-control" name="ime" value="@ViewBag.Ime" placeholder="Ime" />
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="prezime" value="@ViewBag.Prezime" placeholder="Prezime" />
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="grad" value="@ViewBag.Grad" placeholder="Grad" />
                </div>
                <div class="col-md-2">
                    <select class="form-control" name="status" asp-items="ViewBag.StatusList" value="@ViewBag.Status">
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control" name="poslovnica" asp-items="ViewBag.PoslovniceList">
                        <option value="">Sve poslovnice</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-warning">Pretraži</button>
                </div>
            </div>
        </div>
    </form>


    @if (Model.Count() == 0)
    {
        <h2 align="center">Nema podataka o zaposlenicima!</h2>
    }
    else
    {
        <table class="table table-hover table-bordered border-secondary mt-4" style="margin-left: -200px;">
            <thead>
                <tr class="table-primary">
                    <th>
                        <div class="d-flex align-items-center">
                            Ime
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="Ime" asp-route-sortDirection="Asc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="Ime" asp-route-sortDirection="Desc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Prezime
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="Prezime" asp-route-sortDirection="Asc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="Prezime" asp-route-sortDirection="Desc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        Spol
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Adresa
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="Adresa" asp-route-sortDirection="Asc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="Adresa" asp-route-sortDirection="Desc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        Grad
                    </th>
                    <th>
                        Država
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Telefon
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="Telefon" asp-route-sortDirection="Asc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="Telefon" asp-route-sortDirection="Desc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Email
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="Email" asp-route-sortDirection="Asc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="Email" asp-route-sortDirection="Desc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Datum zaposlenja
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="DatumZaposlenja" asp-route-sortDirection="Asc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="DatumZaposlenja" asp-route-sortDirection="Desc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Plaća
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="Placa" asp-route-sortDirection="Asc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="Placa" asp-route-sortDirection="Desc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Topli obrok
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="TopliObrok" asp-route-sortDirection="Asc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="TopliObrok" asp-route-sortDirection="Desc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Prijevoz
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="Prijevoz" asp-route-sortDirection="Asc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="Prijevoz" asp-route-sortDirection="Desc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        Bonus
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            Ukupna plaća
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="UkupnaPlaca" asp-route-sortDirection="Asc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="UkupnaPlaca" asp-route-sortDirection="Desc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        Certifikati
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            JMBG
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="JMBG" asp-route-sortDirection="Asc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Zaposlenici" asp-action="Index" asp-route-sortBy="JMBG" asp-route-sortDirection="Desc"
                                   asp-route-ime="@ViewBag.Ime" asp-route-prezime="@ViewBag.Prezime" asp-route-grad="@ViewBag.Grad"
                                   asp-route-status="@ViewBag.Status" asp-route-poslovnica="@ViewBag.Poslovnica">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        Broj bankovnog računa
                    </th>
                    <th>
                        Kvalifikacija
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Datum završetka radnog odnosa
                    </th>
                    <th>
                        Poslovnica
                    </th>
                    <th>
                        Pozicije
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prezime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Spol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adresa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Drzava)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumZaposlenja)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Placa) KM
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TopliObrok) KM
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prijevoz) KM
                        </td>
                        <td>
                            @if (item.Bonus != null)
                            {
                                @Html.DisplayFor(modelItem => item.Bonus) <text> KM</text>
                            }
                            else
                            {
                                <text>0 KM</text>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UkupnaPlaca) KM
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Certifikati)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JMBG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrojBankovnogRacuna)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kvalifikacija)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumZavrsetkaRadnogOdnosa)
                        </td>
                        <td>
                            @{
                                var poslovnicaName = GetPoslovnicaName(item.PoslovnicaID, ViewData["Poslovnice"] as IEnumerable<SportPro.Web.Models.Domains.Poslovnice>);
                                @poslovnicaName
                            }
                        </td>
                        <td>
                            @foreach (var pozicija in item.Pozicije)
                            {
                                <span>@pozicija.Naziv</span>
                            }

                        <td class="text-center">

                            <a asp-action="Edit" asp-route-id="@item.IDZaposlenik" class="btn btn-success">Uredi</a> &nbsp;
                            <a asp-action="Delete" asp-route-id="@item.IDZaposlenik" class="btn btn-danger">Izbriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(prevPage < 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous"
                       asp-controller="Zaposlenici"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Zaposlenici" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize" asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">@i</a>
                    </li>
                }

                <li class="page-item @(nextPage > ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" aria-label="Next"
                       asp-controller="Zaposlenici"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}