@model IEnumerable<SportPro.Web.Models.Domains.PonudePoslova>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="PonudePoslova" asp-action="Add">Create New</a>
</p>
@if (Model.Count() == 0)
{
    <h2 align="center">Nema podataka o ponudama poslova!</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpisPosla)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BrojOsoba)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BrojSati)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CijenaSata)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PotrebnaOprema)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PocetakRadova)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KrajRadova)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lokacija)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpisPosla)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojOsoba)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojSati)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CijenaSata)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrebnaOprema)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PocetakRadova)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KrajRadova)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lokacija)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IDPonudaPoslova">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.IDPonudaPoslova">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}