@model IEnumerable<SportPro.Web.Models.Domains.PonudePoslova>

@{
    ViewData["Title"] = "Ponuđeni poslovi";
}
<p>
    <a asp-controller="PonudePoslova" asp-action="Add">Dodaj novu ponudu</a>
</p>
@if (Model.Count() == 0)
{
    <h2 align="center">Nema podataka o ponuđenim poslovima!</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                   Naziv
                </th>
                <th>
                    Opis posla
                </th>
                <th>
                    Broj osoba
                </th>
                <th>
                    Broj sati
                </th>
                <th>
                    Cijena sata
                </th>
                <th>
                    Potrebna oprema
                </th>
                <th>
                    Početak radova
                </th>
                <th>
                    Kraj radova
                </th>
                <th>
                    Lokacija
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpisPosla)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojOsoba)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojSati)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CijenaSata) KM
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrebnaOprema)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PocetakRadova)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KrajRadova)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lokacija)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IDPonudaPoslova">Uredi</a> |
                        <a asp-action="Delete" asp-route-id="@item.IDPonudaPoslova">Izbriši</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}