@model IEnumerable<SportPro.Web.Models.Domains.Promocije>

@{
    ViewData["Title"] = "Promocije";

    string GetTipPromocijeName(int? id, IEnumerable<SportPro.Web.Models.Domains.TipoviPromocija> tipoviPromocija)
    {
        var tipPromocije = tipoviPromocija.FirstOrDefault(p => p.IDTipPromocije == id);
        if (tipPromocije != null)
        {
            return tipPromocije.Naziv;
        }
        return "";
    }

    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
    int currentPage = Convert.ToInt32(ViewBag.PageNumber);
}

@if (User.IsInRole("Uposlenik"))
{
    <p>
        <a asp-action="Add" class="btn btn-primary ms-3">Dodaj novu promociju</a>
    </p>

    <form method="get" asp-controller="Promocije" asp-action="Index">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control" name="naziv" value="@ViewBag.Naziv" placeholder="Pretraži po nazivu" />
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="tipPromocije" asp-items="@ViewBag.TipPromocijeList"></select>
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="aktivan" asp-items="@ViewBag.AktivanList"></select>
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button type="submit" class="btn btn-warning">Pretraži</button>
                </div>
            </div>
        </div>
    </form>

    <br />

    @if (Model.Count() == 0)
    {
        <h2 align="center">Nema podataka o promocijama!</h2>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="d-flex align-items-center">
                            Naziv
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Promocije" asp-action="Index" asp-route-sortBy="Naziv" asp-route-sortDirection="Asc"
                                   asp-route-naziv="@ViewBag.Naziv" asp-route-tipPromocije="@ViewBag.TipPromocije" asp-route-aktivan="@ViewBag.Aktivan">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Promocije" asp-action="Index" asp-route-sortBy="Naziv" asp-route-sortDirection="Desc"
                                   asp-route-naziv="@ViewBag.Naziv" asp-route-tipPromocije="@ViewBag.TipPromocije" asp-route-aktivan="@ViewBag.Aktivan">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Tip promocije</th>
                    <th>Opis</th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span>Datum početka</span>
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Promocije" asp-action="Index" asp-route-sortBy="DatumPocetka" asp-route-sortDirection="Asc"
                                   asp-route-naziv="@ViewBag.Naziv" asp-route-tipPromocije="@ViewBag.TipPromocije" asp-route-aktivan="@ViewBag.Aktivan">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Promocije" asp-action="Index" asp-route-sortBy="DatumPocetka" asp-route-sortDirection="Desc"
                                   asp-route-naziv="@ViewBag.Naziv" asp-route-tipPromocije="@ViewBag.TipPromocije" asp-route-aktivan="@ViewBag.Aktivan">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span>Datum završetka</span>
                            <div class="d-flex">
                                <a class="btn btn-light sort-button p-0" asp-controller="Promocije" asp-action="Index" asp-route-sortBy="DatumZavrsetka" asp-route-sortDirection="Asc"
                                   asp-route-naziv="@ViewBag.Naziv" asp-route-tipPromocije="@ViewBag.TipPromocije" asp-route-aktivan="@ViewBag.Aktivan">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a class="btn btn-light sort-button p-0" asp-controller="Promocije" asp-action="Index" asp-route-sortBy="DatumZavrsetka" asp-route-sortDirection="Desc"
                                   asp-route-naziv="@ViewBag.Naziv" asp-route-tipPromocije="@ViewBag.TipPromocije" asp-route-aktivan="@ViewBag.Aktivan">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Aktivna</th>
                    <th>Dodatni uvjeti</th>
                    <th>Slika</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Naziv)</td>
                        <td>@GetTipPromocijeName(item.TipoviPromocijaIDTipPromocije, ViewData["TipoviPromocija"] as IEnumerable<SportPro.Web.Models.Domains.TipoviPromocija>)</td>
                        <td>@Html.DisplayFor(modelItem => item.Opis)</td>
                        <td>@Html.DisplayFor(modelItem => item.DatumPocetka)</td>
                        <td>@Html.DisplayFor(modelItem => item.DatumZavrsetka)</td>
                        <td>@(item.Aktivna ? "Da" : "Ne")</td>
                        <td>@Html.DisplayFor(modelItem => item.DodatniUvjeti)</td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Slika))
                            {
                                <img src="@item.Slika" alt="Slika" style="max-width: 200px; max-height: 200px;" />
                            }
                            else
                            {
                                <text>Slika za tu promociju ne postoji!</text>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IDPromocije" class="btn btn-success">Uredi</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(prevPage < 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous"
                       asp-controller="Promocije"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Promocije" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize" asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">@i</a>
                    </li>
                }

                <li class="page-item @(nextPage > ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" aria-label="Next"
                       asp-controller="Promocije"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}

<style>
    .sort-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sort-button {
        padding: 0;
        margin: 0;
        font-size: 0.8rem; /* Adjusts the size of the sort icons */
    }
</style>
