@model IEnumerable<SportPro.Web.Models.Domains.Raspored>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-asp-controller="Raspored" asp-action="Add">Create New</a>
</p>
@if (Model.Count() == 0)
{
    <h2 align="center">Nema podataka o rasporedu poslova!</h2>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zaposlenik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Napomena)
            </th>
            <th>
                Početak rada
            </th>
            <th>
                Kraj rada
            </th>
            <th>
                Broj sati
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Zaposlenik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Napomena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PocetakRada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KrajRada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojSati)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDRaspored">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IDRaspored">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}